@charset "ISO-8859-1";

body{
	margin:0;
}

.header{
	background-color: rgb(218, 214, 214);
    padding: 1px;
}
h1{
	padding-left: 15px;
}
form{
	background-color:rgb(241, 241, 241);
    padding: 30px;
}

#result{
	min-height: 500px;
	padding: 10px;
}

#result ul {
    list-style: none;
    padding: 0;
}

#result li{
    padding: 10px;
}

.validator{
	float:right;
}